<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eVakil</title>

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>

  <body>
    <h1 class="title">eVakil</h1>
    <div class="container">
      <form id="language-form" action="/" method="POST">
        <label for="language-select" class="label">Select Language:</label>
        <select id="language-select" name="language" class="select">
          {% for language in options %}
          <option value="{{ language }}" class="option">{{ language }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="submit-button">Submit</button>
      </form>

      {% if result %}
      <div id="hello-message" class="hello-message">
        <h2>Language Chosen: {{ user_preference.language }}</h2>
        <p>{{ result.hello_message }}</p>
      </div>
      <!-- Autoplay the audio stored in static/audio/hello.mp3-->
      <audio controls autoplay hidden>
        <source src="{{result.hello_audio}}" type="audio/mpeg" />
      </audio>
      {% endif %}
    </div>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
