<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eVakil</title>

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <h1>eVakil</h1>
    <form id="language-form" action="/" method="POST">
      <label for="language-select">Select Language:</label>
      <select id="language-select" name="language">
        {% for language in options %}
        <option value="{{ language }}">{{ language }}</option>
        {% endfor %}
      </select>
      <button type="submit">Submit</button>
    </form>

    {% if result %}
    <div id="hello-message">{{ result.hello_message }}</div>
    <!-- Autoplay the audio stored in static/audio/hello.mp3-->
    <audio autoplay>
      <source src="{{ url_for('static', filename='audio/hello.mp3') }}" />
    </audio>
    {% endif %}

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
